{% extends 'client/base.html' %}
{% load static %}
{% load custom_template_tags %}

{% block title %}
RALF Modern Cuisine Restaurant Menu Details
{% endblock title %}



{% block nav_shopping_cart %}
<a href="{% url 'ropms:cart' customer.id table.id %}" id="nav-shopping-cart-summary">
    {% nav_shopping_cart request.session.customer_email %}
</a>
{% endblock nav_shopping_cart %}


{% block menu_list %}
<li class="active"><a href="">Menu List</a></li>
{% endblock menu_list %}

{% block nav_search_form %} 
{% endblock nav_search_form%}
{% block content %}
<ul class="breadcrumb">
    <li><a href="{% url 'ropms:menu_selection' table.id %}">Back</a> <span class="divider">/</span></li> 
    <li class="active">Preview {{waiting}}</li>
</ul>
<div class="well well-small">
    <div class="row-fluid">
        <div class="span5">
            <div id="myCarousel" class="carousel slide cntr">
                <div class="carousel-inner">
                    <div class="item next left">
                        <a href="#"> <img src="{{ menu.image.url }}" alt="Not Available" style="width:100%"></a>
                    </div>
                    <div class="item">
                        <a href="#"> <img src="{{ menu.image.url }}" alt="Not Available" style="width:100%"></a>
                    </div>
                    <div class="item active left">
                        <a href="#"> <img src="{{ menu.image.url }}" alt="Not Available" style="width:100%"></a>
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
            </div>
        </div>
        <div class="span7">
            <h3>{{ menu.name }} [₱{{ menu.price }}]</h3>
            <hr class="soft">

            <form class="form-horizontal qtyFrm">
                <div class="control-group">
                    <label class="control-label"><span>₱{{ menu.price }}</span></label>
                    <div class="controls">
                        <input id="menu_item_quantity" type="number" class="span6" placeholder="Qty." min="1" value="1" required>
                    </div>
                </div> 
                <h4>{{ menu.category }}</h4>
                <p> {{ menu.description }} </p>
                <p> 
                    <a href="{% url 'ropms:add_item_to_cart' customer.id menu.id %}" class="shopBtn add-to-cart"><span class=" icon-shopping-cart"></span> Add to cart</a> 
                </p>
            </form>
        </div>
    </div>
    <hr class="softn clr">


    <ul id="productDetail" class="nav nav-tabs">
        <li class="active"><a href="#home" data-toggle="tab">Product Details</a></li>
        <li class=""><a href="#profile" data-toggle="tab">Related Products </a></li>

    </ul>
    <div id="myTabContent" class="tab-content tabWrapper">
        <div class="tab-pane fade active in" id="home">
            <h4>Product Information</h4>
            <table class="table table-striped">
                <tbody>
                    <tr class="techSpecRow">
                        <td class="techSpecTD1">Status:</td>
                        <td class="techSpecTD2">{{ menu.status }}</td>
                    </tr>
                    <tr class="techSpecRow">
                        <td class="techSpecTD1">Date Added:</td>
                        <td class="techSpecTD2">{{ menu.date_added }}</td>
                    </tr>
                </tbody>
            </table>
            <p>{{ menu.description }}</p>

        </div>
        <div class="tab-pane fade" id="profile">
            {% for r_menu in related_menu %}
            <div class="row-fluid">
                <div class="span2">
                    <img src="{{ r_menu.image.url }}" alt="Not Available">
                </div>
                <div class="span6">
                    <h5>{{ r_menu.name }}</h5>
                    <p>
                        {{ r_menu.description }}
                    </p>
                </div>
                <div class="span4 alignR">
                    <form class="form-horizontal qtyFrm">
                        <h3> ₱{{ r_menu.price }}</h3>
                        <label class="checkbox">
                           {{ r_menu.category }}
                        </label><br>
                        <div class="btn-group">
                            <a href="{% url 'ropms:add_item_to_cart' customer.id r_menu.id %}" class="defaultBtn add-to-cart"><span class=" icon-shopping-cart"></span> Add to cart</a>
                                Add to cart</a>
                            <a href="{% url 'ropms:menu_detail' r_menu.id table.id %}" class="shopBtn">VIEW</a>
                          
                        </div>
                    </form>
                </div>
            </div>
            {% if not forloop.last %}<hr class="soft">{% endif %} 
            {% endfor %}
        </div>
       
    </div>

</div>
{% endblock content%}